version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: aj-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: aj-backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: aj-frontend
    restart: always
    env_file:
      - ./frontend/.env
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mongo_data:
